
<form action="/bookmark" method="get">
  


  <div class="search">
  <input type="text" name="search" placeholder="enter title or category"> 
  <input type="submit" value="search">
  </div>
 <!--  <P>or</P>
  <label for='category'>search by category</label>
  <input type="text" name='category'>
  <input type="submit" value="search">
  </div> -->
 
 </form>

