<!DOCTYPE html>
<html>
<head>
  <title>Bookmrkr</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
 <header>
   <header>
   <section class="row-header">
   <div class="grid">
     <a href ="/">
        <h1 class="logo logo-alt">BOOKMRKR</h1>
      </a>
      <h4 class="tagline">Collect your favourite web links</h4>
  </div>
  <nav>
   <ul>
    <li><a href="/">Home</a></li>
    <li><a href="bookmark">All Bookmarks</a><li>
      <li><a href="bookmark/new">Add Bookmark</a></li>
    </ul>
  </nav>
</header>
<div>
 
</div>
 <section class="homepage">
  
  <%=yield%>
  </section>

  <footer>&copy AB/bookmrkr 2016</footer>
</body>

</html>